---
import FormattedDate from "@components/FormattedDate.astro";

const { post } = Astro.props;
const { slug, data } = post;
const { title, description, pubDate, coverImage } = data;
---

<article class="col wfull">
  <a class="col full" href={`/noticies/${slug}`}>
    <img class="wfull" src={coverImage} alt={title} />

    <main class="col wfull">
      <small><FormattedDate date={pubDate} /></small>
      <h3>{title}</h3>
      <p>
        {description}
        {description}
        {description}
        {description}
      </p>
    </main>
  </a>
</article>
<article class="col wfull">
  <a class="col full" href={`/noticies/${slug}`}>
    <img class="wfull" src={coverImage} alt={title} />

    <main class="col wfull">
      <small><FormattedDate date={pubDate} /></small>
      <h3>{title}</h3>
      <p>
        {description}
        {description}
        {description}
      </p>
    </main>
  </a>
</article>
<article class="col wfull">
  <a class="col full" href={`/noticies/${slug}`}>
    <img class="wfull" src={coverImage} alt={title} />

    <main class="col wfull">
      <small><FormattedDate date={pubDate} /></small>
      <h3>{title}</h3>
      <p>
        {description}
        {description}
      </p>
    </main>
  </a>
</article>
<article class="col wfull">
  <a class="col full" href={`/noticies/${slug}`}>
    <img class="wfull" src={coverImage} alt={title} />

    <main class="col wfull">
      <small><FormattedDate date={pubDate} /></small>
      <h3>{title}</h3>
      <p>
        {description}
      </p>
    </main>
  </a>
</article>
<article class="col wfull">
  <a class="col full" href={`/noticies/${slug}`}>
    <img class="wfull" src={coverImage} alt={title} />

    <main class="col wfull">
      <small><FormattedDate date={pubDate} /></small>
      <h3>{title}</h3>
      <p>
        {description}
        {description}
        {description}
        {description}
      </p>
    </main>
  </a>
</article>
<article class="col wfull">
  <a class="col full" href={`/noticies/${slug}`}>
    <img class="wfull" src={coverImage} alt={title} />

    <main class="col wfull">
      <small><FormattedDate date={pubDate} /></small>
      <h3>{title}</h3>
      <p>
        {description}
        {description}
        {description}
      </p>
    </main>
  </a>
</article>

<style>
  article {
    width: calc(100% / 3 - 1em);
    background-color: var(--base);
    border: 1px solid var(--base-100);
    border-radius: 0.5em;
    box-shadow: 0 5px 20px hsl(var(--base-500-hsl), 0.2);
    margin-bottom: 1em;
    overflow: hidden;

    @media (max-width: 640px) {
      width: 100%;
    }

    & main {
      padding: 1em;
    }

    & p {
      margin-top: 1em;
    }
  }
</style>
